<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Special Installment Plan for School Calculator</h1>
  <p>
    Find out the right amount you should be paying as you explore the different payment terms for the school tuition. 
  </p>

<br />

<ion-item>
  <ion-label>Tuition Fee Amount:</ion-label>
  <ion-input type="number" [(ngModel)]="tuition"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Payment Terms:</ion-label>
  <ion-input type="number" [(ngModel)]="payment"></ion-input>
</ion-item>

<button ion-button color="secondary" (click)="calculateInterest()">
  CALCULATE INTEREST
</button>
<button ion-button color="secondary" (click)="calculateAmount()">
  CALCULATE AMOUNT PAYABLE
</button>
<button ion-button color="secondary" (click)="calculateMonthly()">
  CALCULATE MONTHLY PAYMENT
</button>

<ion-item *ngIf="interest">
  <h2> Your Total Interest Payable is: {{interest}} <code> </code></h2>
  </ion-item>
<ion-item *ngIf="amount">
  <h2> Your Total Amount Payable is: {{amount}} <code> </code></h2>
  </ion-item>
<ion-item *ngIf="monthly">
  <h2> Your Monthly Payment is: {{monthly}} <code> </code></h2>
  </ion-item>